@model WarehouseWebApp.Models.Inventory

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Period)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Period)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityFirst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityFirst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityInput)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityInput)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityOutput)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityOutput)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityLast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityLast)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCalculate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCalculate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit.UnitId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InventoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
