@model dynamic
<table class="table table-hover e-commerce-table">
    <thead>
        <tr>

            <th>Barcode</th>
            <th>Tên danh mục</th>
            <th>Đơn vị</th>
            <th>Giá</th>
            <th>Nhà cung cấp</th>
            <th>Nguồn gốc</th>
            <th>Nhóm hàng hóa</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Goods != null)
        {
            foreach (Good item in Model.Goods)
            {
                <tr>

                    <td>
                        @item.Barcode
                    </td>
                    <td>(@item.CategoryShortName) @item.CategoryName</td>
                    <td>
                        @if(item.Unit!=null)
                        {
                        @item.Unit.UnitName
                        }
                    </td>
                    <td>@item.Price</td>
                    <td>
                        @if(item.Supplier!=null)
                        {
                            @item.Supplier.SupplierName
                        }
                    </td>
                    <td>
                        @if(item.Origin!=null)
                        {
                            @item.Origin.OriginName
                        }
                    </td>
                    <td>
                        @if(item.GroupGood!=null)
                        {
                            @item.GroupGood.GroupName
                        }
                    </td>
                    <td>
                        <a class="btn btn-secondary btn-tone m-r-5" asp-controller="Goods" asp-action="Edit" asp-route-id="@item.Barcode">
                            <i class="anticon anticon-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
@if (Model.NumberOfPage != null)
{
    <div class="pagination">
        @if (Model.Search != "")
        {
            <a href="?page=1&search=@Model.Search">&laquo;</a>
        }
        else
        {
            <a href="?page=1">&laquo;</a>
        }
        @for (int i = 1; i <= Model.NumberOfPage; i++)
        {

            @if (i != Model.CurrentPage)
            {
                @if (Model.Search != "")
                {
                    <a href="?page=@i&search=@Model.Search">@i</a>
                }
                else
                {
                    <a href="?page=@i">@i</a>
                }
            }
            else
            {
                @if (Model.Search != null)
                {
                    <a class="active" href="?page=@i&search=@Model.Search">@i</a>
                }
                else
                {
                    <a class="active" href="?page=@i">@i</a>
                }
            }
        }
        @if (Model.Search != "")
        {
            <a href="?page=@Model.NumberOfPage&search=@Model.Search">&raquo;</a>
        }
        else
        {
            <a href="?page=@Model.NumberOfPage">&raquo;</a>
        }
    </div>
}
